html {
  overflow-y: visible; /* prevents content pages with less content from shifting the page */
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px; /* height of the sticky footer */
  font-family: 'Sanchez', serif;
}

.btn {
  padding: 20px;
  font-size: 160%;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 0px 0px;
  color: white;
  margin:30px;
}

/* Go-to-top Button */
#btnTop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 250px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(147, 158, 175, 0.4);
  color: white;
  cursor: pointer;
  padding: 5px 15px 8px 15px;
  border-radius: 100px;
}

#btnTop:hover {
  background-color: rgba(147, 158, 175, 1);
}

.fa-angle-up {
  font-size: 3em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #btnTop {
    bottom: 40px;
    right: 40px;
  }
}
/* End of Go-to-top Button */

/* Top Section */
header {
  background-image: url("../images/belgrade-background.jpg");
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  padding-top: 50px;
  height: 100%;
}

header h1 {
  font-size: 5em;
}

.nav-tabs {
  text-align: center;
}

.nav-tabs > li {
  float: none;
  display: inline-block;
  zoom: 1;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  border-radius: 0px;
  padding: 20px;
  margin: 40px;
  color: dimgrey;
  background: rgba(255,255,255,0.55);
  border: none;
}

.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: rgba(255,255,255,1);
}

.profile-image {
  width: 250px;
  border-radius: 200px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .nav-tabs > li > a,
  .nav-tabs > li > a:hover,
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:focus,
  .nav-tabs > li.active > a:hover {
    margin: 10px;
  }

  header h2 {
    font-size: 20px;
  }
}
/* End of Top Section */

/* About Me */
#aboutMe {
  text-align: center;
}

#aboutMe > h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.7em;
}

#aboutMe p {
  font-size: 1em;
  line-height: 2em;
  text-align: -webkit-auto;
}

#aboutMe > img {
  width: 200px;
  border-radius: 100px;
  margin: 50px;
  border-style: outset;
  border-width: 2px;
}

.text-highlight {
  font-weight: 700;
  color: darkcyan;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #aboutMe > img {
    margin: 20px;
  }
}
/* End of About Me */

/* Experience */
#experience {
  text-align: center;
}

#experience > h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.7em;
}

#experience > p, ul {
  font-size: 1em;
  line-height: 2em;
  text-align: -webkit-auto;
}

#experience > a,
#experience > a:hover,
#experience > a:focus {
  font-size: 1.5em;
  text-decoration: none;
  vertical-align: top;
}

.resume-link {
  display: block;
  margin-top: 25px;
}

.fa-cloud-download {
  font-size: 1.5em;
  vertical-align: middle;
}
/* End of Experience */

/* Contact */
#contact {
  text-align: center;
}

#contact > h2 {
  padding-top: 20px;
  font-size: 2.7em;
}

#contact > p {
  font-size: 1.5em;
  line-height: 3em;
}

.social-buttons {
  padding-top: 50px;
  text-align: center;
}

.fa-twitter:before,
.fa-linkedin:before,
.fa-facebook:before,
.fa-envelope:before {
  padding: 15px;
  font-size: 4em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  #contact > h2 {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  #contact > p {
    font-size: 1.2em;
    line-height: 2em;
  }

  .fa-twitter:before,
  .fa-linkedin:before,
  .fa-facebook:before,
  .fa-envelope:before {
    padding: 15px;
    font-size: 3em;
  }
}
/* End of Contact */

/* Footer */
footer {
  text-align: center;
  height: 40px;
  width: 100%;
  border-width: medium;
  border-top: 1px;
  border-top-style: outset;
  position: absolute;
  left: 0;
  bottom: 0;
}

footer > h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* End of Footer */
